@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 30px;
  /* background: #3fabe0;  */
  background: linear-gradient(
    210deg,
    #bd2331 2%, 
    #3fabe0 15%,  
    #8fc63d 60%,   
    #bd2331 95%    
);

  min-height: 100vh;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  animation: fadeInPage 1s ease forwards;
}

@keyframes fadeInPage {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}
